/* -----@Media Responsive css created by Shahid - Scientech IT -------------------------------------------- */

/* This Media screen css called for All Quality Pages Element---------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1000px) {
	
	
}
@media only screen and (max-width: 424px) {
.themedetail_slide_btn {
	padding:5px 12px;
}

}
@media only screen and (min-width: 960px) and (max-width: 1200px) {

/*Slider Css*/
.slide_data {
	text-align: center;
	margin: 0 0 60px;
	}
/*Theme Menu Css*/
.navbar-right {
    float: left;
    }	
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
	}
.nav {
    margin-bottom: 25px;
    margin-top: 20px;
	}
/*Theme Detail Slide*/
.themedetail_data {
    margin-top: 50px;
	margin-bottom: 60px;
    text-align: center;
}	

	
}



@media only screen and (min-width: 768px) and (max-width: 959px) {

/*Slider Css*/
.slide_data {
	text-align: center;
	margin: 0 0 60px;
	}
.homepage_main_slider {
	padding: 0;
	}
/*Theme Menu Css*/
.navbar-right {
    float: left;
    }	
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
	}
.nav {
    margin-bottom: 25px;
    margin-top: 20px;
	}
/*Theme Detail Slide*/
.themedetail_data {
    margin-top: 50px;
	margin-bottom: 60px;
    text-align: center;
}
.pager {
    margin: 30px 0px 20px !important;
}
/*Contact Info*/
.cont_info_address {
    margin-left: 0px;
}
	
	
}	


@media only screen and (min-width: 480px) and (max-width: 767px) {
	
/*Slider Css*/
.slide_data {
	text-align: center;
	margin: 0 0 60px;
	}
.homepage_main_slider {
	padding: 0;
	}
/*Theme Menu Css*/
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	padding-left: 0px;
    padding-right: 0px;
	}
.nav {
    margin-bottom: 25px;
    margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	}	
.navbar-collapse.in {
	overflow: hidden;
	}
.navbar-collapse {
    max-height: 100%;
	}
.navbar-toggle {
	margin-top: 24px;
	}
/*Footer Callout Css*/
.footer_callout_area {
    text-align: center;
	}
.footer_callout_area h2 {
    margin: 35px 0 0;
	}
/*Theme Detail Slide*/
.themedetail_data {
    margin-top: 50px;
	margin-bottom: 60px;
    text-align: center;
}
.pager {
    margin: 30px 0px 20px !important;
}	
/*Contact Info*/
.cont_info_address {
    margin-left: 0px;
}
	
} 


@media only screen and (min-width: 200px) and (max-width: 480px) {
		
/*Slider Css*/
.slide_data {
	text-align: center;
	margin: 0 0 60px;
	}
.homepage_main_slider {
	padding: 0;
	}
/*Theme Menu Css*/
.nav {
    margin-bottom: 25px;
    margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	}	
.navbar-collapse.in {
	overflow: hidden;
	}
.navbar-collapse {
    max-height: 100%;
	}
.navbar-toggle {
	margin-top: 24px;
	}
/*Footer Callout Css*/
.footer_callout_area {
    text-align: center;
	}
.footer_callout_area h2 {
    margin: 35px 0 0;
	}
/*Theme Detail Slide*/
.themedetail_data {
    margin-top: 50px;
	margin-bottom: 60px;
    text-align: center;
}	
.pager {
    margin: 30px 0px 20px !important;
}
/*Contact Info*/
.cont_info_address {
    margin-left: 0px;
}
	
}
