/*!
 * Theme Menu Css created by Shahid (Scientech)
 */
 
.navbar-inverse .navbar-toggle {
    background: none repeat scroll 0 0 #5A9FC8;
    border-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #5A9FC8;
}
.navbar-brand {
    font-size: 18px;
    height: 80px;
    line-height: 35px;
	padding: 22.5px 15px;
}
.navbar-brand > img {
	height: 30px;
	width: auto;
}
.navbar-inverse {
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}
.navbar {
    border-radius: 0px 0px 0px 0px;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: #353535;
	color: #FFFFFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#232323), to(#353535));
	background: -webkit-linear-gradient(top, #353535, #232323);
	background: -moz-linear-gradient(top, #353535, #232323);
	background: -ms-linear-gradient(top, #353535, #232323);
	background: -o-linear-gradient(top, #353535, #232323);
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	background-color: #353535;
	color: #FFFFFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	background-color: #353535;
	color: #FFFFFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#232323), to(#353535));
	background: -webkit-linear-gradient(top, #353535, #232323);
	background: -moz-linear-gradient(top, #353535, #232323);
	background: -ms-linear-gradient(top, #353535, #232323);
	background: -o-linear-gradient(top, #353535, #232323);
}
.navbar .navbar-nav > li {
    margin-right: 5px;
    padding: 0 0 0px 0px;
}
.navbar .navbar-nav > li > a {
    line-height: 20px;
    padding: 10px 20px;
	border-radius: 2px 2px 2px 2px;
	color: #666666;
	font-family: 'OpenSansSemiBold'; 
	text-transform: uppercase;
}
.nav {
    /* position: relative; 
    top: 20px;*/
	margin-top: 20px;
}
.navbar {
	margin-bottom: 0px;
}
.dropdown-menu > li > a {
    white-space: normal;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #5a9fc8;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}

/*Dropdown Menus & Submenus Css*/
.dropdown-menu {
    padding: 0;
	min-width: 200px;
}
.dropdown-menu > li > a {
    color: #666666;
    font-family: 'OpenSansSemiBold';
    font-size: 15px;
    line-height: 20px;
    padding: 15px 20px;
	border-bottom: 1px solid #DEDEDE;
}
.dropdown-menu > li > a:last-chlid {
	border-bottom: 0px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #5a9fc8;
}
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-2px;
    margin-left:-1px;
    -webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius:0px 0px 0px 0px;
}
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float: right;
    width: 0 !important;
    height:0 !important;
    border-color: 0px !important;
    border-style: solid solid dotted !important;
    border-width: 6px 3px 0 !important;
	border-radius: 50% !important;
    margin-top:9px;
    margin-right:-10px;
}
.dropdown-submenu .pull-left{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.navbar-right .dropdown-menu {
    left: 0;
    right: 0;
}
.navbar-nav > li > a > i {
    font-size: 18px;
    line-height: 20px;
    margin-left: 5px;
    padding-top: 0;
}
