/* Open Sans Fonts */
@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold.ttf') format('truetype'),
         url('OpenSans-Bold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('OpenSans-Semibold.eot');
    src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold.woff') format('woff'),
         url('OpenSans-Semibold.ttf') format('truetype'),
         url('OpenSans-Semibold.svg#OpenSansSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular.woff') format('woff'),
         url('OpenSans-Regular.ttf') format('truetype'),
         url('OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('OpenSans-SemiboldItalic.eot');
    src: url('OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-SemiboldItalic.woff') format('woff'),
         url('OpenSans-SemiboldItalic.ttf') format('truetype'),
         url('OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Roboto Fonts */
@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold.woff') format('woff'),
         url('Roboto-Bold.ttf') format('truetype'),
         url('Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Courgete Fonts */
@font-face {
    font-family: 'Courgette';
    src: url('Courgette-Regular.eot');
    src: url('Courgette-Regular.eot?#iefix') format('embedded-opentype'),
         url('Courgette-Regular.woff') format('woff'),
         url('Courgette-Regular.ttf') format('truetype'),
         url('Courgette.svg#Courgette') format('svg');
    font-weight: normal;
    font-style: normal;
}